name: Unit Test

on:
  push:
    branches-ignore:
    - release-v**
    - rc-v**
    - beta-v**
    - alpha-v**
    - dev-v**
    paths-ignore:
    - "**.md"

  pull_request:
    branches: [main, master]
    paths-ignore:
    - "**.md"

concurrency: 
  group: ${{ github.ref_name }}-unit
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - name: Validate
      run: make validate
    - name: Unit Tests
      run: make test